<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Counter Hits</h1>
    <h5>Today hits -- <%= final.counter %></h5>
    <h5>Monthly hits -- <%= final.month_counter %></h5>
    <h5>Unique Hits Today -- <%= final.unique_counter %></h5>
    <h5>Monthly Unique Hits -- <%= final.unique_month_counter %></h5>  
</body>
</html>